@import url("https://fonts.googleapis.com/css2?family=Armata&family=Encode+Sans:wght@200&family=Inter:wght@100;200;300;400;500;600;700;800;900&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Roboto:wght@300;400;500;700;900&display=swap");

/* MODAL STYLING */
body.product_active-modal {
  overflow-y: hidden;
}

.reg_modal,
.reg_modal-overlay {
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  position: fixed;
  z-index: 1;
}

.reg_modal-overlay {
  background: rgba(0, 0, 1, 0.6) !important;
  z-index: -1;
}

.reg_modal-content {
  position: absolute;
  top: 50%;
  left: 44% !important;
  transform: translate(-50%, -50%);
  line-height: 1.5rem;
  background: transparent;
  border-radius: 3px;
  z-index: 999;
}
.bg-reg-container {
  width: 1000px;
  border-radius: 12px;
  height: fit-content;
  background-color: white;
  padding: 2rem 6rem 0rem;
}
.bg-reg-container h1 {
  font-size: 2.5rem;
  text-transform: uppercase;
  font-weight: 600;
  margin-bottom: 2rem;
  font-family: "Montserrat", sans-serif;
  color: #0867db;
  text-align: center;
}
.adjust-cancel-btn{
  font-size: 1.2rem;
  background-color: #0867db;
  color: white;
  border-radius: 20px;
  padding: 5px 10px;
  font-weight: 600;
  position: relative;
  left: 75em;
  top: -5rem;
  cursor: pointer;
}
.reg-form label {
  color: #868e96;
  font-size: 12px;
  font-weight: 600;
  /* margin: 1rem 0 1rem; */
}

.reg-inputs {
  background-color: #fff;
  border: none;
  border-bottom: 1px solid #ced4da;
  padding: 1rem;
  font-size: 14px;
  width: 90%;
  margin-bottom: 2rem;
  border-radius: 0px;
  color: #343a40;
  font-weight: 500;
  font-family: "Montserrat", sans-serif;
}
.form-end {
  padding-left: 3.5rem;
}
.form-end input {
  width: 100%;
}
#reg-uploader {
  background-color: white;
  height: 12vh;
  border: 2px dashed #1c73de;
}
.reg-file-upload {
  cursor: pointer;
  height: 12vh;
  opacity: 0;
}
.icon-reg-uploader {
  position: relative;
  left: 18rem;
  top: -5.5rem;
  fill: #1c73de;
}
#save-reg-btn {
  width: 18%;
  padding: 1rem;
  background-color: #407bff;
  color: white;
  font-size: 14px;
  font-weight: 500;
margin-top: 3rem;
}
.check-reg-icon {
  background-color: #1c73de;
  width: 50px;
  height: 50px;
  border-radius: 50%;
}
.grid-supplier-reg_supplier{
  display: grid;
  grid-template-columns: 1fr 1fr ;
  gap: 3rem;
  padding: 1rem 0 4rem;
  
 
}